/*  background : linear gradient

https: //www.colorzilla.com/gradient-editor/
에서는 원하는 색깔을 만들고 그것을 코드로 긁어 가져올 수 있다. 
*/

div {
    min-width: 100vw;
    height: 150px;
    margin: 5px;
}

.one {
    background: linear-gradient(rgb(109, 131, 255), rgb(255, 3, 142))
}

.two {
    background: linear-gradient(to left, blue, yellow, rgb(133, 189, 133))
}

/* to top, to bottom(default), to left ... */
/* 색깔 개수 2개 이상 가능, 색깔들 넣으면서 콤마로 연결해주면 됌. */
.three {
    background: linear-gradient(200deg, rgb(109, 131, 255), rgb(255, 3, 142))
}

/* 0~360 degree -방향의 각도를 숫자로 정해줄 수 있다. 더 더양하게 선형 그래디언트 변형 가능 */
.four {
    background: linear-gradient(to top right, rgb(109, 131, 255), rgb(255, 3, 142))
}

/* 다양한 변주가 가능 */
.five {
    background: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 200, 150, 0.9));
}

/* rgba : red green blue + 네번째 숫자 : opacity */
.six {
    background: linear-gradient(200deg, rgba(0, 0, 0, 0.2), rgba(0, 200, 150, 0.9));
}

.zilla {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff3232+0,f4ff30+46,aaffe4+100&0.65+0,0.96+100 */
    background: -moz-linear-gradient(-45deg, rgba(255, 50, 50, 0.65) 0%, rgba(244, 255, 48, 0.79) 46%, rgba(170, 255, 228, 0.96) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255, 50, 50, 0.65) 0%, rgba(244, 255, 48, 0.79) 46%, rgba(170, 255, 228, 0.96) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255, 50, 50, 0.65) 0%, rgba(244, 255, 48, 0.79) 46%, rgba(170, 255, 228, 0.96) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6ff3232', endColorstr='#f5aaffe4', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}