/* media queries
responsive design
style elements on different screen sizes
min-width --- starting from
max-width --- up to 
mobile first */

body {
    background: rgb(209, 211, 206);
}

.banner {
    background: rgb(81, 162, 255);
    border-radius: 20px;
}

h1 {
    color: white;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}

/* 띄어쓰기 조차도 매우 중요하다 !! */
@media screen and (min-width:576px) {
    body {
        background: rgb(78, 81, 85)
    }

    .banner {
        background: blueviolet;
        border-radius: 20px;
    }

    h1 {
        color: black;
        font-size: 60px;
    }
}